{% extends "layout.html" %}
{% block title %}Python Playlist{% endblock %}
{% block content %}
    <h1>Python Playlist</h1>

    TODO: metadata like last fetched streams(s), last fetch time, last fetched for playlist, number of playlists/qs/ss, ...
    <p><a href="{{ url_for("playlistsDetails", id=defaultPlaylistId) }}">Default playlist: {{ defaultPlaylistId }}</a></p>
    <button type="submit">New Playlist</button>
    <button type="submit">New Playlist from YT Playlist</button>
    <button type="submit">Purge</button>

    <form action="/commands">
        <input type="text" name="commands" id="commands" placeholder="Enter Commands" />
        <button type="submit">Enter</button>
    </form>
{% endblock %}