{% extends "layout.html" %}
{% block title %}Python Playlist{% endblock %}
{% block content %}
    <h1>Python Playlist</h1>

    TODO: metadata like last fetched streams(s), last fetch time, last fetched for playlist, number of playlists/qs/ss, ...

    <div class="row">
        <a class="btn" href="{{ url_for("playlistsDetails", id=defaultPlaylistId) }}">Default playlist: {{ defaultPlaylistId }}</a>
        <a class="btn" href="{{ url_for("purgeAll") }}">Purge all</a>
        <a class="btn" href="{{ url_for("softDeletedIndex") }}">Soft Deleted Entities</a>
        <a class="btn displayLoadingWithLogs" data-task="fetchPlaylist" data-id="id">Test</a>
    </div>
{% endblock %}