{% extends "layout.html" %}
{% block title %}Python Playlist{% endblock %}
{% block content %}
    <h1>Python Playlist</h1>

    TODO: metadata like last fetched streams(s), last fetch time, last fetched for playlist, number of playlists/qs/ss, ...

    <div class="row">
        <a href="{{ url_for("playlistsDetails", id=defaultPlaylistId) }}">
            <button>Default playlist: {{ defaultPlaylistId }}</button>
        </a>
    </div>

    <div class="row">
        <a href="{{ url_for("playlistsCreate") }}">
            <button>New Playlist</button>
        </a>
        <a href="{{ url_for("error", errorMessage="Not Implemented") }}">
            <button>New Playlist from YT Playlist</button>
        </a>
        <a href="{{ url_for("error", errorMessage="Not Implemented") }}">
            <button>Purge</button>
        </a>
    </div>

    <div class="row adminActions">
        <a href="{{ url_for("softDeletedIndex") }}">
            <button>Soft Deleted Entities</button>
        </a>
    </div>
{% endblock %}