{% extends "layout.html" %}
{% block title %}{{ queueStream.name }}{% endblock %}
{% block content %}
    <div class="row">
        <a class="btn" href="{{ url_for("playlistsDetails", id=playlist.id) }}"><-Playlist--</a>
        <a class="btn" href="{{ url_for("play", playlistId=playlist.id, index=index-1) }}"><< Back</a>
        <a class="btn" href="{{ queueStream.uri }}" target="_blank">Open URI</a>
        <a class="btn" href="{{ url_for("play", playlistId=playlist.id, index=index+1, watchedId= queueStream.id) }}">Watched >></a>
        <a class="btn" href="{{ url_for("play", playlistId=playlist.id, index=index+1) }}">--Skip-></a>
    </div>
    <div class="row">
        <a class="btn" href="{{ url_for("error", errorMessage="Not Implemented") }}">Add to other playlist</a>
        {% if circumventUrl %}
            <a class="btn" href="{{ circumventUrl }}" target="_blank">Circumvent restricted</a>
        {% endif %}
        {% if queueStream.watched %}
            <a class="btn" href="{{ url_for("play", playlistId=playlist.id, index=index, unwatchId= queueStream.id) }}">Unwatch</a>
        {% endif %}
    </div>

    <p>{{ playlist.name }} - {{ queueStream.streamSourceName }}: {{ queueStream.name }}</p>

    <div class="videoContainer">
        {% if queueStream.isWeb %}
            {% if embeddedUrl %}
                <iframe class="videoPlayer"  allowfullscreen
                    src="{{ embeddedUrl }}" title="{{ queueStream.name }} video player" 
                    allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share">
                </iframe>
            {% else %}
                <h2>
                    This video could not be embedded, <a href="{{ queueStream.uri }}" target="_blank">watch here</a> 
                </h2>
            {% endif %}
        {% else %}
            <video  class="videoPlayer" controls>
                <source src="{{ fileUri }}" type="video/mp4">
            </video>
        {% endif %}
    </div>
    
    <hr>
    <div class="row">
        <h4>Next QueueStreams</h4>
        
        {% if not enumeratedNextQueueStreams %}
            This is the last QueueStream in {{ playlist.name }} 
            <a class="btn" href="{{ url_for("playlistsDetails", id=playlist.id) }}">Return to {{ playlist.name }}</a>
        {% else %}
            {% for i, queueStream in enumeratedNextQueueStreams: %}
                <a href="{{ url_for("play", playlistId=playlist.id, index=i+1) }}">
                    <div class="center" width="2em">
                        <img src="/static/default.png">
                        <p>{{ queueStream.name }}</p>
                        <p>{{ queueStream.streamSourceName }}</p>
                    </div>
                </a>
            {% endfor %}
        {% endif %}
    </div>
{% endblock %}
