{% extends "layout.html" %}
{% block title %}{{ queueStream.name }} - {{ playlist.name }}{% endblock %}
{% block content %}
    <div class="row">
        <a href="{{ url_for("play", playlistId=playlist.id, index=index-1, watched= 0) }}">
            <button><< Back</button>
        </a>
        <a href="queueStream.uri" target="_blank">
            <button>Open URI</button>
        </a>
        <a href="{{ url_for("play", playlistId=playlist.id, index=index+1, watched= 0) }}">
            <button>--Skip->></button>
        </a>
        <a href="{{ url_for("play", playlistId=playlist.id, index=index+1, watched= 1) }}">
            <button>Watched >></button>
        </a>
    </div>

    TODO remove names, replace with embedded:
    {{ queueStream.name }} - {{ playlist.name }}
    embedded video 100% width
    playback commands like add to other playlist (below)
    next/upcomming streams? (next command)
    
    <button type="submit">Circumvent restricted<button>
    Add to other playlist: form
{% endblock %}