{% extends "layout.html" %}
{% block title %}StreamSource {{ streamSource.name }}{% endblock %}
{% block content %}
    <h1>{{ streamSource.name }}</h1>
    
    <p>EnableFetch: {{ streamSource.enableFetch }}</p>
    <p>LastFetched: {{ streamSource.lastFetched }}</p>
    <p>Added: {{ streamSource.added }}</p>
    
    <div class="row">
        {% if streamSource.isWeb %}
            <a class="btn" href="{{ streamSource.uri }}" target="_blank">Open URI</a>
        {% endif %}
        <a class="btn" href="{{ url_for("streamSourcesEdit", id=streamSource.id) }}">Edit</a>
        <a class="btn" href="{{ url_for("streamSourcesDelete", id=streamSource.id) }}">Delete</a>
    </div>
    
    {% if streamSource.deleted %}
        <div class="row">
            <p>Soft deleted: {{ streamSource.deleted }}</p>
            <button class="btn" type="submit">Restore from soft delete</button>
        </div>
    {% endif %}
{% endblock %}