{% extends "layout.html" %}
{% block title %}Playlists{% endblock %}
{% block content %}
    <h1>Playlists</h1>
    
    <div class="row">
        <a class="btn" href="{{ url_for("playlistsCreate") }}">New Playlist</a>
        <a class="btn" href="{{ url_for("error", errorMessage="Not Implemented") }}">New Playlist from YT Playlist</a>
    </div>

    <ul>
        {% for playlist in playlists: %}
            <li><a href="{{ url_for("playlistsDetails", id=playlist.id) }}">{{ playlist.name }}</a></li>
        {% endfor %}
    </ul>
{% endblock %}