{% extends "layout.html" %}
{% block title %}QueueStream {{ queueStream.name }}{% endblock %}
{% block content %}
    <h1>{{ queueStream.name }}</h1>
    
    <p>Added: {{ queueStream.added }}</p>

    <div class="row">
        <a class="btn" href="{{ queueStream.uri }}" target="_blank">Open URI</a>
        {% if queueStream.streamSourceId %}
            <a class="btn" href="{{ url_for("streamSourcesDetails", id=queueStream.streamSourceId) }}">StreamSource</a>
        {% endif %}
        <a class="btn" href="{{ url_for("queueStreamsEdit", id=queueStream.id) }}">Edit</a>
        <a class="btn" href="{{ url_for("error", errorMessage="Not Implemented") }}">Delete</a>
    </div>

    {% if queueStream.deleted %}
        <div class="row">
            <p>Soft deleted: {{ queueStream.deleted }}</p>
            <button class="btn" type="submit">Restore from soft delete</button>
        </div>
    {% endif %}
{% endblock %}